html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Lato", sans-serif;
  background-image: url(https://i.gremicdn.pl/image/free/6566ae3f2aae30c453f5b9b88b30e6af/?t=crop:1920:1190:nowe:0:0,resize:fill:408:255,enlarge:1);
  
  
  

}

.icon {
  width: 20px;
  height: 20px;
}
